@import './_common.scss';

* {
    background-color: #2c3531 ;
}

.passFailRadioGroupContainer {
  grid-column: span 12;
  @media (min-width: 640px) {
    grid-column: span 6;
  }
  font-size: 22px;
  color: #2c3531;
  font-weight: 500;
}

.radioGroupContainer {
  display: flex;
  gap: 1.5rem;
}

.radioOption {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 5rem;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #d1e8e2;
  transition: all 0.2s ease-in-out;
  justify-content: center;
}

.radioOption:hover {
  background-color: #116466;
  color: #d1e8e2;
}

.radioOptionSelected {
  background-color: #d9b08c;
  color: #116466;
}

.formLabel {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 2rem;
  font-size: 22px;
  color: #d1d7e0;
}

.inputWithLabelText {
    color: #d1d7e0;
    font-size: 22px;
}

.inputWithLabel {
  display: block;
  width: 100%;
  border-radius: 10px;
  font-size: 22px;
  color: #2c3531;
  margin-top: 1.5rem;
  font-size: 22px;
}

.inputWithLabelContainer {
  grid-column: span 12;
  font-size: 22px;
  margin-top: 2rem;
  @media (min-width: 640px) {
    grid-column: span 6;
  }
}

.inspectionFormButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  grid-column: span 12;
  @media (min-width: 640px) {
    grid-column: span 6;
  }
}

.inspectionFormButton {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 2rem;
  background-color: #d1d7e0;
  margin-bottom: 2rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: pink;
  }
  padding: 0.5rem 1rem;
  font-size: 22px;
  font-weight: 700;
  color: purple;
  outline: none;
}

.inspectionFormBackButton {
    margin-right: 1rem;
}

.inspectionFormSubmitButton {
    margin-left: 1rem;
}