/* Color Palette */
:root {
  /* --primary-color: #1976D2;
  --accent-color-1: #42A5F5;
  --accent-color-2: #2196F3;
  --accent-color-3: #1E88E5;
  --accent-color-4: #1976D2;
  --accent-color-5: #64B5F6;
  --text-color: #000000; */
  --background-color: radial-gradient(circle, var(--accent-color-5), var(--accent-color-1), var(--accent-color-2), var(--accent-color-3), var(--accent-color-4));
  --instagram-color: #3f729b;
  --linkedin-color: #0072b1;
  --twitter-color: #1DA1F2;
  --secondary-color: rgb(0, 202, 0);
}

body {
  /* background: var(--background-color); */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px; */
}

* {
  letter-spacing: 1.5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin: 40px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* NAVBAR STYLING BELOW */
header#navbar-container {
  display: flex;
  justify-content: center;
}

header nav {
  /* display: flex;
  justify-content: center;
  margin: 20px 0;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  position: fixed;
  top: 0; */
}

header nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px; /* https://developer.mozilla.org/en-US/docs/Web/CSS/gap */
}

header nav ul li a {
  text-decoration: none;
  /* margin: 0 10px;
  width: 25%; */
}

nav a button {
  background-color: white;
  border: 0px;
  color: var(--accent-color-4);
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

nav a button:hover {
  background-color: var(--accent-color-4);
  color: white;
  border-color: var(--accent-color-4);
  cursor: pointer;
}

/* SOCIAL MEDIA BUTTON STYLING BELOW */

#social-media-buttons {
  border-color: var(--accent-color-4);
}

.instagram {
  color: var(--instagram-color);
}

.instagram:hover {
  background-color: var(--instagram-color);
}

.linked-in {
  color: var(--linkedin-color);
}

.linked-in:hover {
  background-color: var(--linkedin-color);
}

.twitter {
  color: var(--twitter-color);
}

.twitter:hover {
  background-color: var(--twitter-color);
}

/* LARGE GREEN START BUTTON STYLING BELOW */

#start-button {
  transition: all 0.2s ease-in-out;
  background-color: white;
  border: 1px;
  border-radius: 15px;
  padding: 20px 20px;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--secondary-color);
  margin: 0px;
  position: absolute;
  top: 100px;
  text-align: center;
  display: inline-block;
  margin: auto;
}

#start-button button {
  font-size: 28px;
  padding: 20px 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: #1976D2;
  border-color: #1976D2;
}

#start-button:hover {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--accent-color-4);
  cursor: pointer;
}

/* SAFETY RULES LIST STYLING BELOW */

#safety-rules {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
  padding-bottom: 80px;
  padding: auto;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  font-size: 1.25em;
}

#safety-rules li {
  padding: 20px 10px;
}

#safety-rules li:last-child {
  border-bottom: none;
}

/* CONTACT PAGE STYLING BELOW */

#contact-info {
  text-align: center;
  width: 100%;
  padding: 10px;
  color: white;
}

.contact-info {
  margin: 40px 20px;
}

#contact-nav {
  margin-top: 100px;
}

/* FORKLIFT LOGO ON INSPECT PAGE STLYING BELOW */

#forklift-logo {
  margin-top: 150px;
}

#inspect-div {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

/* MEDIA QUERY FOR SCREEN ADJUSTMENTS BETWEEN MOBILE AND DESKTOP BELOW */

@media only screen and (min-width: 100px) {
  h1 {
    font-size: 48px;
  }

  nav a button {
    font-size: 16px;
  }

  nav a {
    width: auto;
  }
}