/* Color Palette */
:root {
  --primary-color: #1976D2;
  --accent-color-1: #42A5F5;
  --accent-color-2: #2196F3;
  --accent-color-3: #1E88E5;
  --accent-color-4: #1976D2;
  --accent-color-5: #64B5F6;
  --text-color: #000000;
  --background-color: radial-gradient(circle, var(--accent-color-5), var(--accent-color-1), var(--accent-color-2), var(--accent-color-3), var(--accent-color-4));
  --instagram-color: #3f729b;
  --linkedin-color: #0072b1;
  --twitter-color: #1DA1F2;
  --secondary-color: rgb(0, 202, 0);
}

body {
  background: var(--background-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 16px;
  
}

* {
  letter-spacing: 1.5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin: 40px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* NAVBAR STYLING BELOW */

nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  top: 0;
}

nav a {
  text-decoration: none;
  margin: 0 10px;
  width: 25%;
}

nav a { 
  background-color: white;
  border: 0px;
  color: var(--accent-color-4);
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

nav a:hover { 
  background-color: var(--accent-color-4);
  color: white;
  border-color: var(--accent-color-4);
  cursor: pointer;
}

#navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* SOCIAL MEDIA BUTTON STYLING BELOW */

#social-media-butttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.instagram {
  color: var(--instagram-color);
  padding: 10px 15px;
  border-radius: 5px;
}

.instagram:hover {
  background-color: var(--instagram-color);
}

.linked-in {
  color: var(--linkedin-color);
  padding: 10px 15px;
  border-radius: 5px;
}

.linked-in:hover {
  background-color: var(--linkedin-color);
}

.twitter {
  color: var(--twitter-color);
  padding: 10px 15px;
  border-radius: 5px;
}

.twitter:hover {
  background-color: var(--twitter-color);
}

/* CONTACT PAGE STYLING BELOW */

#contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #007aff;
}

#contact-info a {
  text-decoration: none;
  margin-bottom: 10px;
}

#contact-email {
  font-size: 1em;
}

#contact-number {
  font-size: 1.2em;
}

#forklift-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
}

/* LARGE GREEN START BUTTON STYLING BELOW */

#start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  transition: all 0.2s ease-in-out;
  background-color: white;
  border: 1px;
  border-radius: 15px;
  padding: 20px 20px;
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--secondary-color);
  margin: 0px;
  text-align: center;
  text-decoration: none;
}

button {
  font-size: 28px;
  padding: 20px 40px;
  cursor: pointer;
  color: #1976D2;
  border: 1px solid #1976D2;
  border-radius: 15px;
}

#start-button:hover {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--accent-color-4);
  cursor: pointer;
}

/* SAFETY RULES LIST STYLING BELOW */

#safety-rules {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
  padding-bottom: 80px;
  padding: auto;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  font-size: 1.25em;
}

#safety-rules li {
  padding: 20px 10px;
}

#safety-rules li:last-child {
  border-bottom: none;
}

/*               */

.info {
  margin-bottom: 8px;
        
}

input, select{
  font-size: 16px;
}

.test02{
    align-items: center;
    display: inline-grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(13, 0.001fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px;
}

.selector {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(13, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  cursor: pointer;
}

.form-group{
  margin: auto 5%;
}

.col, .col-2,  .col-3{
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  margin-bottom: 24px;
}

.col-2{
  grid-template-columns: repeat(2, 1fr);
}

.col-3{
  grid-template-columns: repeat(3, 1fr);
}

.input-group{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.input {
  border: none;
  outline: none;
  padding: 10px 12px;
  border-radius: 4px;
}

/* FORM SUBMIT BUTTON STYLING BELOW */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
  background-color: white;
  border: 0;
  border-radius: 15px;
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--secondary-color);
  text-decoration: none;
}

.button:hover {
  background-color: var(--secondary-color);
  color: white;
  border-color: transparent;
  cursor: pointer;
}

/* MEDIA QUERY FOR SCREEN ADJUSTMENTS BETWEEN MOBILE AND DESKTOP BELOW */
@media (max-width: 576px) {
  #social-media-butttons {
    flex-direction: column;
  }
}

@media only screen and (min-width: 100px) {
  h1 {
    font-size: 48px;
  }

  nav a button {
    font-size: 16px;
  }

  nav a {
    width: auto;
  }
}

.react-view{
  margin: 36px auto;
}












