/*  */
 /* Begin form styling */
/*  */

/* Color Palette */
:root {
  --primary-color: #1976D2;
  --accent-color-1: #42A5F5;
  --accent-color-2: #2196F3;
  --accent-color-3: #1E88E5;
  --accent-color-4: #1976D2;
  --accent-color-5: #64B5F6;
  --text-color: #000000;
  --background-color: radial-gradient(circle, var(--accent-color-5), var(--accent-color-1), var(--accent-color-2), var(--accent-color-3), var(--accent-color-4));
  --instagram-color: #3f729b;
  --linkedin-color: #0072b1;
  --twitter-color: #1DA1F2;
  --secondary-color: rgb(0, 202, 0);
  background: var(--background-color)
}

.info {
  /* display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 50px;
  padding: 20px; */
  margin-bottom: 8px;
        
}

input, select{
  font-size: 16px;
}

/* .test01{
    align-items: center;
    display: inline-grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(13, 0.001fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px;
} */

.test02{
    align-items: center;
    display: inline-grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(13, 0.001fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px;
    
}

.selector {
   
    display: inline-grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(13, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
cursor: pointer;

}

.form-group{
  margin: auto 5%;
}

.col, .col-2,  .col-3{
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  margin-bottom: 24px;
}

.col-2{
  grid-template-columns: repeat(2, 1fr);
}

.col-3{
  grid-template-columns: repeat(3, 1fr);
}

.input-group{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.input {
  /* background-color: var(--accent-color-5); */
  /* cursor: pointer; */
  border: none;
  outline: none;
  padding: 10px 12px;
  border-radius: 4px;
}

/* button begin */

.button {
    display: inline-grid;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightslategrey;
    border: none;
    border-radius: 15px;
    background-color:  var(--accent-color-1);
  }
  
  .button:hover {background: var(--background-color);}
  
  .button:active {
    background-color: var(--background-color);;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

/* button end */

/*  */
  /* End form styling */
/*  */